/* * {
  padding: 0;
  margin: 0;
}
 */

body {
  display: flex;
  margin: 0;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  display: inline;
  margin: 50px;
}

nav ul a{
  color: #6e7070;
}

h1 {
  margin: 0px;
  padding: 100px;
  color: #6e7070;
}


.welcome {
  margin: 0px;
  text-align: center;
  color: #393a3a;
  padding-top: 10px;
}

.containerGrid{
  display: grid; 
  align-items: space-evenly;
padding-bottom: 0px ;
  margin: 4% 4%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
      'leftPart leftPart rightPart'
      'belowContent belowContent belowContent'
      ;
  
}
  
.leftPart{
  grid-area: leftPart;
  margin: 0px 3%;

  padding-bottom: 0px;
}

.rightPart{
  grid-area: rightPart;
  margin: 0px 6%;

  padding-bottom: 0px;
}


.belowContent{
  display: grid;
  align-items: space-evenly;
  grid-area: belowContent;
  margin: 0px 2%;


  padding-top: 0px;
}

.myWork{
  margin: 0px 3%;
  padding: 0px;
  padding-bottom: 0;
}

.myProjects{
  display: flex;
  justify-content: space-evenly;

}



.project1{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.project2{
  display: flex;
  justify-content:center;

}

.project3{
  display: flex;
  justify-content: space-evenly;

}








/* 
#about {

} */





/* main logo / nav */






/* 
.click {

  justify-content: right;
}

a {

  text-decoration: none;
  color: #ffffff;
  }
  
ul {
  height: 200px;
} */






footer {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;

}





/*
.heroimg {
  width:auto 
}








/*

.logo {
  background: white;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


header {
  padding: 20px;
  background-color: #969696;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


.nav {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: baseline;
}



.hero-banner {
  display:flex;

}

#nav {
  display:flex;
  justify-content: flex-end;

  
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
