/* * {
  padding: 0;
  margin: 0;
}
 */

body {
  display: flex;
  margin: 0;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  display: inline;
  margin: 50px;
}

nav ul a{
  color: #6e7070;
}

h1 {
  margin: 0px;
  padding: 100px;
  color: #6e7070;
}


.welcome {
  margin: 0px;
  text-align: center;
  color: #393a3a;
  padding-top: 10px;
}

.containerGrid{
  display: grid; 
  align-items: space-evenly;
  padding-bottom: 0px ;
  margin: 0% 1%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      'aboutMe aboutMe contactMe'
      'belowContent belowContent belowContent'
      'belowContent belowContent belowContent'
      ;

}
  
.aboutMe{
  grid-area: aboutMe;

  margin: 0px 3%;
  padding-bottom: 0px;
}

.contactMe{
  grid-area: contactMe;
  margin: 0px 5%;
}


.belowContent{
  display: grid;
  grid-area: belowContent;
  /* margin: 0px 2%; */
  /* grid-template-rows: 1fr;
  grid-template-columns: 0fr; */


}

/* .myWork{
  margin: 0px 3%;
  padding: 0px;
  padding-bottom: 0px;
} */

.myProjects{
  grid-area:myProjects ;
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'project project project'
  'project project project'
}


.project{
padding:0px;
} 



footer {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;

}












/* 
.project1{
  display: flex;

  align-content: center;
  justify-content: center;


}

.project2{
  display: flex;
  justify-content:center;
  align-content: center;


}

.project3{
  display: grid;
  justify-content:center;
  align-content: center;
  padding-left: 10px;
} */






/* 
#about {

} */





/* main logo / nav */






/* 
.click {

  justify-content: right;
}

a {

  text-decoration: none;
  color: #ffffff;
  }
  
ul {
  height: 200px;
} */











/*
.heroimg {
  width:auto 
}








/*

.logo {
  background: white;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


header {
  padding: 20px;
  background-color: #969696;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}


.nav {
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: baseline;
}



.hero-banner {
  display:flex;

}

#nav {
  display:flex;
  justify-content: flex-end;

  
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
