body {
  display: flex;
  margin: 0;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 100px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
  display: inline;
  margin: 50px;
}

nav ul a{
  color: #6e7070;
}

h1 {
  margin: 0px;
  padding: 100px;
  color: #6e7070;
}


.welcome {
  margin: 0px;
  text-align: center;
  color: #393a3a;
  padding-top: 10px;
}

.containerGrid{
  display: grid; 
  align-items: space-evenly;
  padding-bottom: 0px ;
  margin: 0% 1%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      'aboutMe aboutMe contactMe'
      'belowContent belowContent belowContent'
      'belowContent belowContent belowContent'
      ;

}
  
.aboutMe{
  grid-area: aboutMe;

  margin: 0px 3%;
  padding-bottom: 0px;
}

.contactMe{
  grid-area: contactMe;
  margin: 0px 5%;
}


.belowContent{
  display: grid;
  grid-area: belowContent;
  /* margin: 0px 2%; */
  /* grid-template-rows: 1fr;
  grid-template-columns: 0fr; */


}



.myProjects{
  grid-area:myProjects ;
  display: grid;
  /* justify-content: space-evenly; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'project project project'
  'project project project'
}


.project{
padding:0px;

} 



footer {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;

}

.zoomed img{
transition: 1s ease;
}

.zoomed img:hover{
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
transition: 1s ease;
}










